h1 {
  margin: center;
}

body {
  background: #9eb5b3;
  margin: 0;
}

#message {
  color: white;
}

#menu{
        height:5vh;
        width:100%;
        display: flex;
        justify-content: space-evenly; 
        flex-direction: row;
        align-items: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        box-sizing: border-box; 
        
    }

#forms{
   height:20vh;
        width:100%;
        display: flex;
        justify-content: space-evenly; 
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid black;
        box-sizing: border-box; 

}

a{
        color: black; 
        text-decoration: none; 
        display: block;
        box-sizing: border-box;
        text-align: center;
        padding: 5px 0;

    }

