h1 {
  margin: center;
}

body {
  background: #9eb5b3;
  margin: 0;
}

#message {
  color: white;
}

#menu{
        height:5vh;
        width:100%;
        display: flex;
        justify-content: space-evenly; 
        flex-direction: row;
        align-items: center;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        box-sizing: border-box; 
        
    }

#forms{
        height:20vh;
        width:100%;
        display: flex;
        justify-content: space-evenly; 
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid black;
        box-sizing: border-box; 

}
#property_form{
        position: fixed;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        height:60vh;
        width:40%;
        display: flex;
        justify-content: space-evenly; 
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;        
        background-color: white;
        border-radius: 20px;
        z-index:999;
}
.property-item{
  background: white;
  padding: 10px;
  margin: 10px auto;
  width: 50%;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly; 
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;  
}
#heading{
        height:7vh;
        width:100%;
        display: flex;
        justify-content: space-evenly; 
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;        
}

a{
        color: black; 
        text-decoration: none; 
        display: block;
        box-sizing: border-box;
        text-align: center;
        padding: 5px 0;

    }

