/*
*   Chart Style
*/
#retirement-chart-container {
  width: 320px;
  margin: 20px auto;
}

#retirementChart {
  width: 100% !important;
  height: auto !important;
}

/*
*   Retirement Table Style
*/
#retirement-table-container {
  width: 320px;        
  margin: 0 auto;    
}

#retirement-table {
  width: auto;
  margin: 0 auto;
  border-collapse: collapse; 
}

#retirement-table th {
  margin-top:20px;
  text-align: left;
  padding-left: 4px;
}

#retirement-table td {
  text-align: left;
  padding: 2px;
  vertical-align: middle;
}

#add-investments-button-container {
  text-align: center;
  margin-bottom: 20px;
}