@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');
h1 {
  margin: center;
}

#welcome-message {
  text-align: center;
  margin-top: 20px;
  color: black;
}

.heading{
  text-align: center;
}

#addPropertyButton, #add-retirement-investments-button, #add-general-investments-button {
  position: absolute;
  right: 10px; /* Distance from the right edge */
  top: 75px; 
}

body {
  background: #9eb5b3;
  margin: 0;
}

#message {
  color: white;
}

.bottom-line {
  height: 1px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 2px solid black;
}


.menu{  
          height: 5vh;
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          flex-direction: row;
          align-items: center;
          border-top: 1px solid black;
          border-bottom: 1px solid black;
          box-sizing: border-box;
        
    }

#forms{
        height:20vh;
        width:100%;
        display: flex;
        justify-content: space-evenly; 
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid black;
        box-sizing: border-box; 

}
#property_form, #income_form, #expense_form, #property_form_update,
#income_form_update, #expense_form_update{
        position: fixed;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        height:60vh;
        width:40%;
        display: flex;
        justify-content: space-evenly; 
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;        
        background-color: white;
        border-radius: 20px;
        z-index:999;
}
.xButton{
  position:absolute;
  top:5px;
  right:5px;
  background:none;
  border: none;
  z-index:9999;
}
#propertiesDisplay, #incomeDisplay, #expenseDisplay{
  height:60vh;
  width:80%;
  margin:0 auto;
  display: flex;
  justify-content: space-evenly; 
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;  
  overflow-x: auto;    
  white-space: nowrap;
  gap: 20px;
}
.property-item, .income-item, .expense-item{
  background: white;
  padding: 10px;
  margin: 10px auto;
  width: 30%;
  flex-shrink:0;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly; 
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;  
}
#heading{
        height:7vh;
        width:100%;
        display: flex;
        justify-content: space-evenly; 
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;        
}

a{
        color: black; 
        text-decoration: none; 
        display: block;
        box-sizing: border-box;
        text-align: center;
        padding: 5px 0;

    }
